// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE
// Example: input, button, card ..


/*The logos in the login card */
.login-logo-left {
    width: 36px;
    height: 18px;
}
.login-logo-right {
    width: 115px;
    height: 24px;
}
/* Gives rules for the main layout of the login page */
.login-page {
    margin-top: 200px;
    display: flex;
    width: 100%;
    color: #767676;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

/* Rules of the login card where the user inputs their login details*/
.logincard {
    background-color: #ffffff;

    width: 400px;
    height: 562px;
    padding: 32px 40px;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 10px 20px 0 gray;

    label {
        margin-bottom: 1.5em;
    }
    // styling for the form of the login card
    .login-input {
        display: block;
        margin: 0 auto;
        width: 100%;
        label {
            font-size: 12px;
        }
    }
    // Headline
    h1 {
        color: #464646;
        font-size: 26px;
        font-family: finn-bold;
    }
    a,
    .required-label {
        display: block;
    }
    // styling for the field of the input text
    .login-entry {
        background-color: #e5e5e5;
        border: none;
        border-bottom: solid 0.5px transparent;
        border-radius: 5px;
        transition: border-bottom 0.5s ease;
        padding-bottom: 3px;
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .login-entry:hover {
        background-color: #cccccc;
    }
    .login-entry:focus {
        border-bottom: solid 5px #2b7eff;
    }
    input {
        padding: 27px 5px;
    }
    .card--header{
        display: flex;
        justify-content: space-between;
    }
    .stay-signedin-check {
        margin: 2.5em 0;

        input {
            width: 20px;
            height: 20px;
        }
        label {
            font-size: 16px;
        }
        .info-icon {
            margin-left: 12em;
        }
    }
}

//generic styling for the login option buttons
.login-buttons {
    display: block;
    width: 100%;
    margin: 0 auto;
   
   
    margin-bottom: 0.5em;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: 0.25px;
    min-width: 150px;
    padding: 16px;
}
//call to action button
.login-button1 {
    background-color: #2b7eff;
    color: white;
    border: hidden;
}
.login-button1:hover {
    background-color: #004abc;
    box-shadow: 0 2px 5px 0 black;
}
// secondary button
.login-button2 {
    background-color: #ffffff;
    color: #0063fb;
    border: hidden;
}
.login-button2:hover {
    background-color: #f1f9ff;
    border: solid 1px gray;
    box-shadow: 0 2px 5px 0 black;
}
//styling for the info section of the page
.login-info {
    display: block;
    background-color: #f1f9ff;
    text-align: center;
    max-width: 599px;
    height: 350px;
    padding: 25px;
    align-self: center;
}
// the footer of the login page
.login-footer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 1em;
    ul {
        position: relative;
        left: 320px;
        li {
            display: inline;
            margin-right: 5px;
        }
    }
}

// finding the colors defined in their design system
$primary-blue: #0063fb;
$secondary-blue: #06befb;
$gray-700: #464646; //Licorice
$gray-500: #767676; // Stone
$white: #ffffff;
$aqua-50: #f1f9ff; // Ice
$bluegray-100: #c3ccd9; // Marble
$bluegray-400: #9ba8ba;

.nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;

  &_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &:hover {
      border-bottom: $primary-blue solid 2.5px;
    }

    span {
      display: inline-block;
    }
  }

  &_navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .nav_button {
      display: inline-block;
      padding: 0 0.5rem;
      margin-left: 0.5rem;
      height: 100%;
      

      &:hover {
        border-bottom: $primary-blue solid 2.5px;
      }

      svg {
        color: $bluegray-400;
      }
    }
  }

  ul {
    display: block;
    list-style: none;
    height: 100%;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-700;
    height: 100%;
  }

  svg {
    margin-right: 0.5rem;
  }
}

#search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  &_field {
    position: relative;
    flex-grow: 1;
  }

  &_input {
    margin: 1rem 0;
    padding: 0.9rem 1rem 0.9rem 0.7rem;
    width: 100%;
    font-size: 1rem;
    border: $bluegray-100 solid 1px;
    border-radius: 4px;

    &::placeholder {
      color: $bluegray-100;
    }

    &:hover {
        border-color: $bluegray-400;
    }

    // checked in the source code how they changed the border color of the input field when in focus
    &:focus {
        outline: 2px solid $secondary-blue;
        outline-offset: -2px;
    }
  }

  &_button {
    position: absolute;
    background-color: transparent;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);

    svg {
      color: $bluegray-100;
    }
  }

  &_map {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
    text-decoration: underline;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray-700;
    }
    
    svg {
      margin-right: 0.5rem;
    }

    span {
      font-size: 1.1rem;
    }
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  margin-bottom: 1rem;

  &_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0;

    // targetting 9 first buttons, and setting the color of the parent container of the '.svg' icons so they could access it through "currentColor"
    &--blue {
      color: $secondary-blue;
    }

    span {
      color: $gray-700;
      padding: 0.5rem;
    }

    // using the "share" icon obtained from the "Iconography" section in Foundations
    &--external {
      position: absolute;
      top: 0;
      right: 0;

      svg {
        color: $bluegray-100;
      }
    }
  }
}

.listing {
  margin: 1rem 0;
  padding: 0 1rem;

  &_card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }

  &_header {
    display: inline-block;
    margin-bottom: 2rem;

    h1,
    p {
      display: inline;
    }

    a {
      color: $primary-blue;

      &:hover,
      &:visited {
        text-decoration: underline;
      }
    }
  }

  &_card {
    padding: 0.7rem;

    &:hover {
    background-color: $aqua-50;
    }
  }

  &_image {
    position: relative;
    width: 285px;
    height: 310px;

    &--shadow {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 15%;
      z-index: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      border-radius: 0 0 8px 8px;
    }

    &--text {
      display: block;
      position: absolute;
      top: 50%;
      left: 14%;
      font-weight: bold;
      color: $white;
      transform: translate(-50%, -30%);
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      border: 2px solid $bluegray-100;
    }
  }

  &_button--favorite {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    padding: 1rem;

    // https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow
    svg {
      filter: drop-shadow(0 0 3px black);
    }
  }

  &_info {
    padding-bottom: 1rem;

    &--place {
      display: block;
      padding: 0.5rem 0;
      color: $gray-500;
    }

    &--title {
      font-size: 1.2rem;
    }
  }
}

/*# sourceMappingURL=common.css.map */
