.nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  width: 100%; }
  .nav_logo {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .nav_logo span {
      display: inline-block; }
  .nav_button {
    display: inline-block;
    padding: 0 0.5rem;
    margin-left: 0.5rem; }
    .nav_button svg {
      color: #c3ccd9; }
  .nav ul {
    list-style: none; }
  .nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #464646; }
  .nav svg {
    margin-right: 0.5rem; }

#search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; }
  #search-bar_field {
    position: relative;
    flex-grow: 1; }
  #search-bar_input {
    margin: 1rem 0;
    padding: 0.9rem 1rem 0.9rem 0.7rem;
    width: 100%;
    font-size: 1rem;
    border: #c3ccd9 solid 1px;
    border-radius: 4px; }
    #search-bar_input::placeholder {
      color: #c3ccd9; }
  #search-bar_button {
    position: absolute;
    background-color: transparent;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%); }
    #search-bar_button svg {
      color: #c3ccd9; }
  #search-bar_map {
    display: flex;
    justify-content: center;
    align-items: center; }
    #search-bar_map svg {
      margin-right: 0.5rem; }
    #search-bar_map span {
      font-size: 1.1rem; }

.menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  margin-bottom: 1rem; }
  .menu_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0; }
    .menu_item--blue {
      color: #06befb; }
    .menu_item span {
      color: #464646;
      padding: 0.5rem; }
    .menu_item--external {
      position: absolute;
      top: 0;
      right: 0; }
      .menu_item--external svg {
        color: #c3ccd9; }

.listing {
  margin: 1rem 0;
  padding: 0 1rem; }
  .listing_card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto; }
  .listing_header {
    display: inline-block;
    margin-bottom: 2rem; }
    .listing_header h1,
    .listing_header p {
      display: inline; }
    .listing_header a {
      color: #0063fb; }
      .listing_header a:hover, .listing_header a:visited {
        text-decoration: underline; }
  .listing_card {
    padding: 0.7rem; }
  .listing_image {
    position: relative;
    width: 285px;
    height: 310px; }
    .listing_image--shadow {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 15%;
      z-index: 0;
      background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
      border-radius: 0 0 8px 8px; }
    .listing_image--text {
      display: block;
      position: absolute;
      top: 50%;
      left: 14%;
      font-weight: bold;
      color: white;
      transform: translate(-50%, -30%);
      z-index: 1; }
    .listing_image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      border: 2px solid #c3ccd9; }
  .listing_button--favorite {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    padding: 1rem; }
    .listing_button--favorite svg {
      filter: drop-shadow(0 0 3px black); }
  .listing_info {
    padding-bottom: 1rem; }
    .listing_info--place {
      display: block;
      padding: 0.5rem 0; }
    .listing_info--title {
      font-size: 1.2rem; }

/*# sourceMappingURL=common.css.map */

/*# sourceMappingURL=common.css.map */
