// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2

body{
    background-color: #F6F8FB;
    margin: 100px auto;
}

.login-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.login-card{
    background-color: #FFFFFF;
    border: solid gray 1px;
    width: 25%;
    padding: 0.5em;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 0 2px 5px 0 gray;
    
 .login-input{
        display: block;
        margin: 0 auto;
        width: 85%;
      
    }
    a, .required-label{
        display: block;
    }
    .login-entry{
        background-color: #E5E5E5;
    }
    .login-entry:hover{
        background-color: #CCCCCC;
    }
    button, .login-entry{
        display: block;
        width:85%;
        margin: 0 auto;
    }
    input{
        padding: 27px 12px 10px;
    }
    .login-header{
        display: flex;
        justify-content: space-between;
        img{
            max-width: 10%;
        }
    }
    .stay-signedin-check{
        display: flex;
        justify-content: start;
    }
    .login-buttons{
        margin-bottom: 0.5em;
        border-radius: 5px;
        font-weight: 600;
        font-size: 17px;
        line-height: 16px;
        letter-spacing: 0.25px;
     
        min-width: 150px;
        padding: 16px;

    }
    .login-button1{
        background-color: #0063fb;
        color: white;
      } 
      .login-button1:hover{
        background-color: #004ABC;
        box-shadow: 0 2px 5px 0 black;
    }
      .login-button2{
        background-color: #FFFFFF;
        color: #0063fb;
        border: hidden;
        
      } 
      .login-button2:hover{
        background-color: #F1F9FF;
        border: solid 1px gray;
        box-shadow: 0 2px 5px 0 black;
      } 
}

.login-info{
    display: block;
    background-color: #F1F9FF;
    text-align: center;
}
