// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2
/*Hentet url fra kildekode */
@font-face {
    font-family: 'finn';
    src: url(https://assets.finn.no/pkg/@warp-ds/fonts/v1/FINNTypeStrippet-Light.woff2);
}
@font-face{
    font-family: 'finn-bold';
    src: url(https://assets.finn.no/pkg/@warp-ds/fonts/v1/FINNTypeStrippet-Medium.woff2);
}

body{
    background-color: #F6F8FB;
    margin: 200px auto;
    font-family: finn;
}
.login-logo-left{
    width: 36px;
    height: 18px;
}
.login-logo-right{
    width: 115px;
    height: 24px;
}

.login-page{
    display: flex;
    width: 100%;
    color:#767676;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.login-card{
    background-color: #FFFFFF;

    width: 400px;
    height: 562px;
    padding: 32px 40px;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 10px 20px 0 gray;

    label{
        margin-bottom: 1.5em;
    }
    
 .login-input{
        display: block;
        margin: 0 auto;
        width: 100%;
    label{
        font-size: 12px;
    }
    }

    h1{
        color: #464646;
        font-size: 26px;
        font-family: finn-bold;
    }
    a, .required-label{
        display: block;
    }
    .login-entry{
        background-color: #E5E5E5;
        border: none;
        border-bottom: solid 0.5px transparent;
        border-radius: 5px;
        transition: border-bottom 0.5s ease;
        padding-bottom: 3px;
        
    }
    .login-entry:hover{
        background-color: #CCCCCC;
    }
    .login-entry:focus{
        border-bottom: solid 5px #2B7EFF;
       
    }
    button, .login-entry{
        display: block;
        width:100%;
        margin: 0 auto;
    }
    input{
        padding: 27px 5px;
    }
    .login-header{
        display: flex;
        justify-content: space-between;
        

    }
    .stay-signedin-check{
        margin: 2.5em 0;
    
        input{
            width:20px;
            height: 20px;
        }
        label{
            font-size: 16px;
        }
        .info-icon{
            margin-left: 12em;
        }
    }
    .login-buttons{
        margin-bottom: 0.5em;
        border-radius: 5px;
        font-weight: 600;
        font-size: 17px;
        line-height: 16px;
        letter-spacing: 0.25px;
     
        min-width: 150px;
        padding: 16px;

    }
    .login-button1{
        background-color: #2B7EFF;
        color: white;
        border: hidden;
      } 
      .login-button1:hover{
        background-color: #004ABC;
        box-shadow: 0 2px 5px 0 black;
    }
      .login-button2{
        background-color: #FFFFFF;
        color: #0063fb;
        border: hidden;
        
      } 
      .login-button2:hover{
        background-color: #F1F9FF;
        border: solid 1px gray;
        box-shadow: 0 2px 5px 0 black;
      } 
}

.login-info{
    display: block;
    background-color: #F1F9FF;
    text-align: center;
    max-width: 599px;
    height: 350px;
    padding: 25px;
    align-self: center;
}
.login-footer{
    display: flex;
    justify-content: center;
    position: relative;
    left: 325px;
    margin-top: 1em;
    ul li{
        display: inline;
        margin-right: 5px;
    }
}